$black-color: black;
$white-color: white;
$primary-color: #f5ed16;
$primary-text-color: #d5d5d5;
$alt-text-color: #280a28;
$background-color: #280a28;
$body-bg: url("/bgwave.svg");
$alt-background-color: #431143;
$grey-100: #eaeaea;
$grey-200: #c9c5c5;
$grey-300: #888;
$grey-400: #666;
$error-100: #a51c30;
$error-200: #a7333f;
$error-text: white;
$primary: rgb(0, 19, 223);
$body-color: #333;
